<!-- This template has a div with data-role="page" already. If it didn't, one would be created automatically by Controller.render -->
<div data-role="page">
    <!--
        The data-id attribute persists the header toolbar. The same data-id is used in the "some" template, so switching
        between this and the "some" page does not animate the toolbar.
    -->
    <div data-role="header" data-position="fixed" data-id="home-header">
        <h1>
            Home
        </h1>
    </div>

    <div data-role="content">
        <p>Go to:</p>

        <ul data-role="listview">
            <li><a href="#any/url">some controller</a></li>
            <li><a href="#another">another controller</a></li>
        </ul>
    </div>
</div>