<div data-role="header" data-position="fixed" data-id="home-header">
    <h1>
        SomeController
    </h1>
</div>

<div data-role="content">
    <p>
        This is SomeController's "some" action. Click <a href="/#another">here</a> to go to AnotherController.
    </p>
</div>