<div data-role="header" data-position="fixed" data-id="home-header">
    <h1>
        Detail settings
    </h1>
</div>

<div data-role="content">
    <p>
        There you go. The detailed settings screen. Also empty. Sorry about that.
    </p>
    <p>
        <a href="#" onclick="hist.pop()">Pop this screen (same transition effect like it was pushed)</a> |
        <a href="#" onclick="hist.pop({transition: 'fade'})">Pop this screen (fade transition)</a>
    </p>
</div>