<!-- No DIV with data-role="page" required. It is created automatically by View.afterRender if necessary. -->
<!--<div data-role="page">-->
    <!--
        The data-id attribute persists the header toolbar. The same data-id is used in the "some" template, so switching
        between this and the "some" page does not animate the toolbar.
    -->
    <div data-role="header" data-position="fixed" data-id="home-header">
        <h1>
            Home screen
        </h1>
    </div>

    <div data-role="content">
        <p>There's nothing to see here. Here's the view data: someViewData={{ someViewData }}</p>
        <p><a href="#" data-role="button" data-inline="true" id="create-user-button">Create and store user (check console log!)</a></p>
    </div>
<!--</div>-->