<div class="container">
    <h1>
        Settings
    </h1>

    <p>
        This is the settings page. If you wish you can <button class="btn" href="#" onclick="hist.push('route-for-detailed-settings', {transition: 'slidedown'});return false;">push a detailed settings screen (slide down transition)</button> <button class="btn" href="#" onclick="hist.push('route-for-detailed-settings', {transition: 'fade'});return false;">push (fade)</button>.
    </p>

    <!-- Show how scrolling is handled -->
    <div><button onclick="$('#settings-ipsum').toggle()" class="btn btn-mini">Toggle Lorem Ipsum</button></div>
    <div id="settings-ipsum">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sem odio, venenatis sit amet varius in, pellentesque nec dui. Vivamus aliquet congue odio ac cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec quis turpis id ipsum gravida iaculis. In nec ipsum ut tortor pellentesque congue. Donec in viverra nibh. Nullam arcu arcu, tristique nec mollis eu, rutrum eget ante. Pellentesque congue risus quis metus luctus fermentum. Suspendisse euismod est et est dictum nec lacinia lorem tincidunt. Donec malesuada hendrerit orci, quis posuere leo egestas quis. Praesent vel metus eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas eget magna risus.
        </p>
        <p>
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam felis non dui egestas in lacinia dolor tempor. Vivamus vel diam sed neque blandit ultricies non vel tellus. Vivamus venenatis neque id ligula tristique sed pretium enim faucibus. Nam aliquet metus volutpat sapien aliquet sit amet rutrum metus blandit. Suspendisse arcu nunc, gravida id volutpat ac, ornare et massa. In ultrices diam vitae turpis molestie id luctus orci varius. Etiam eget dui elit, quis iaculis neque. Duis dignissim molestie quam, hendrerit dignissim magna vulputate sed. Curabitur gravida arcu non nulla iaculis posuere. Suspendisse ac risus augue. Nulla quis justo metus, ac aliquam elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eu massa sit amet lacus accumsan ultricies.
        </p>
        <p>
        Curabitur condimentum dolor at dolor consectetur non tristique massa volutpat. Nullam magna dolor, vestibulum sit amet elementum nec, rutrum ac velit. Nunc sollicitudin consectetur lacus eu accumsan. Etiam rutrum semper felis a malesuada. Etiam quis nunc risus. Donec bibendum tellus convallis odio convallis at euismod purus mattis. Nulla egestas nisi in tortor scelerisque rhoncus. Quisque ullamcorper mollis posuere.
        </p>
        <p>
        Nullam velit augue, vestibulum vitae dignissim id, varius in nunc. Suspendisse convallis, est sed commodo pulvinar, turpis eros suscipit erat, quis venenatis risus risus nec libero. Nunc et metus lacus, congue dignissim elit. Cras vitae est tempor magna lacinia imperdiet eget in magna. Donec placerat elit vel neque pretium dapibus. Donec a imperdiet felis. Maecenas sit amet pulvinar sem. Aenean sit amet congue libero. Aliquam erat volutpat. Fusce in justo lectus, eget viverra dui.
        </p>
        <p>
        Ut blandit nisl sit amet quam imperdiet sit amet faucibus lorem sollicitudin. Duis ultrices cursus massa fringilla scelerisque. Pellentesque ante risus, fringilla quis blandit et, posuere non ligula. Praesent cursus eleifend orci in mollis. Nunc id eros et mauris dictum commodo in vitae lorem. In interdum pretium fringilla. Duis imperdiet massa eget tellus porttitor vel fringilla neque pretium. Morbi pharetra ullamcorper tempus. In vestibulum varius sem, quis molestie dolor sollicitudin a. Aliquam elementum felis a magna facilisis interdum. Integer sit amet eleifend odio. Pellentesque magna lacus, pellentesque at tincidunt facilisis, venenatis nec eros. Aliquam enim ante, hendrerit ac tincidunt sit amet, accumsan nec nunc.
        </p>
        <p>
        Quisque vel nunc non arcu eleifend ornare. Pellentesque nec sem dolor. Suspendisse potenti. Mauris turpis neque, pulvinar nec ultrices vel, accumsan sit amet neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus lorem sit amet nibh gravida scelerisque. Aliquam aliquam posuere felis at facilisis.
        </p>
        <p>
        Sed vestibulum lacinia ligula placerat laoreet. Phasellus nulla sapien, feugiat non rutrum id, gravida non tellus. Donec vitae erat sit amet libero faucibus accumsan sit amet a urna. Duis faucibus arcu ut nisl adipiscing eu ornare libero convallis. Phasellus convallis tempor nunc, ut varius nulla dignissim ac. Cras rhoncus, nibh et sodales convallis, ipsum dolor tempor elit, id suscipit quam risus ac libero. Curabitur auctor vulputate orci vel mattis. Nullam molestie erat in neque facilisis laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </p>
        <p>
        Suspendisse potenti. Nunc vel magna commodo felis sagittis consequat commodo ac mi. Mauris pellentesque nunc scelerisque justo rhoncus cursus. Etiam rhoncus fringilla nisi. Phasellus elit odio, ullamcorper et sodales nec, tempor id velit. Cras a eros nec nunc rutrum dapibus. Nullam vel metus ac est imperdiet posuere. Cras enim augue, porta sit amet volutpat in, dapibus non metus. Ut et velit risus, id interdum neque. Vestibulum orci massa, volutpat ac congue nec, faucibus a tortor.
        </p>
        <p>
        Donec at magna arcu. Nam vitae tellus elit. Nullam ut arcu sed ligula iaculis viverra. Aenean luctus, lacus id tempus auctor, ante mi tempus diam, et vulputate ligula lorem eget neque. Integer tempus consectetur nisl, eget lacinia libero dapibus sed. Cras urna purus, suscipit nec ullamcorper adipiscing, rhoncus nec ipsum. Proin vitae arcu eros. Donec et orci eget tellus dictum tristique. Nunc a tortor at elit facilisis cursus.
        </p>
        <p>
        Quisque nisi enim, iaculis vitae posuere vitae, rhoncus a urna. Duis ipsum quam, tincidunt id gravida vel, volutpat eget erat. Donec hendrerit orci et mauris laoreet ac faucibus felis blandit. Suspendisse sollicitudin gravida gravida. Sed erat justo, faucibus sed pretium sit amet, lacinia mollis massa. Fusce hendrerit porttitor mollis. Aenean id sollicitudin erat. Integer in magna risus, quis volutpat ligula. Praesent ut consectetur leo. Nulla porttitor fermentum magna ut pharetra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vel odio sit amet lacus hendrerit malesuada id sit amet lorem. Nullam tincidunt tortor ut purus iaculis varius. Vivamus arcu erat, lobortis in mattis sit amet, fermentum sit amet tortor. Cras arcu lorem, vestibulum ut posuere id, cursus id quam. Donec quam tellus, accumsan sit amet pharetra at, semper sed diam.
        </p>
    </div>
</div>