<div class="container">
    <h1>
        Settings
    </h1>

    <p>
        This is the settings page. If you wish you can <button class="btn" href="#" onclick="hist.push('route-for-detailed-settings', {transition: 'slidedown'});return false;">push a detailed settings screen (slide down transition)</button> <button class="btn" href="#" onclick="hist.push('route-for-detailed-settings', {transition: 'fade'});return false;">push (fade)</button>.
    </p>
</div>