<div data-role="header" data-position="fixed" data-id="home-header">
    <h1>
        Settings
    </h1>
</div>

<div data-role="content">
    <p>
        This is the settings page. If you wish you can <a href="#" onclick="hist.push('route-for-detailed-settings', {transition: 'slidedown'})">push a detailed settings screen (slide down transition)</a>.
    </p>
</div>