<ul class="nav nav-list">
    <li class="nav-header">Some header</li>
    <li class="active"><a href="#">Active element</a></li>
    <li><a href="#">Other</a></li>
    <li><a href="#">Other</a></li>
    <li><a href="#">Other</a></li>
    <li class="nav-header">Another header</li>
    <li><a href="#">Other</a></li>
    <li><a href="#">Other</a></li>
</ul>