@import 'nib'

html
  height: 100%

body
  height: 99.9999%
  background: linear-gradient(top, #fff, #d2d2d2) fixed !important

  // Overflow handled by .page so that navigation bar (web target only) remains static at the top and only the content
  // is scrolled.
  overflow: hidden

$sidebar-width = 100pt
$sidebar-gradient-start = #efefef
$sidebar-gradient-end = #fff

div.sidebar
  position: absolute
  overflow: hidden
  left: 0
  top: 0
  bottom: 0
  width: $sidebar-width
  background: gradient(linear, left top, left bottom, from($sidebar-gradient-start ), to($sidebar-gradient-end))
  background: -webkit-gradient(linear, left top, left bottom, from($sidebar-gradient-start ), to($sidebar-gradient-end))
  border-right: 1px solid gray

div.sidebar-main
  position: absolute
  left: $sidebar-width
  top: 0
  bottom: 0
  right: 0
  overflow-y: auto

.page-container
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  z-index: 0

body.web-target .page-container
  // Top padding because of tab bar
  top: 45px

.page
  width: 100%
  height: 100%
  position: absolute
  left: 0
  top: 0
  display: none
  overflow-y: auto

.active-page
  display: block !important

// Changes to Bootstrap

.navbar
  z-index: 1

.container
  // Ensure some padding on very small screens
  padding-left: 0.85em
  padding-right: 0.85em
  box-sizing(border-box)

  padding-top: 0.6em

  // Bootstrap Responsive uses media queries to set a fixed width in pixels for .container DIVs, but since that may be
  // larger than the available space (e.g. if a .container is part of the right panel when a sidebar is shown), restrict
  // it to 100%.
  max-width: 100%

.nav-list > .active > a,
.nav-list > .active > a:hover
  // Replace default blue
  background-color: #858585

@media (max-width: 400px)
  // Navigation bar will (web target only) change to two rows if the window is too small
  body.web-target .page-container
    top: 85px // instead of 45px (see above)